@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --accent-color: rgb(30, 30, 30);
    --base-color: #3f3f3f;
    --text-color: rgb(255, 255, 255);
    --input-color: white;
    --button-color: rgba(135, 135, 135, 0.69);
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Poppins", sans-serif;
    font-size: 12pt;
    color: var(--text-color);
    text-align: center;
}

body {
    min-height: 100vh;
    background: url('../img/main_background.png') center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
}

.wrapper {
    z-index: 2;
    background-color: var(--base-color);
    height: 500px;
    width: max(10%, 500px);
    padding: 10px;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
}

form {
    width: min(400px, 90%);
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

form > div {
    width: 100%;
    display: flex;
    justify-content: center;
}

form label {
    flex-shrink: 0;
    height: 50px;
    width: 50px;
    background-color: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
}

form input {
    box-sizing: border-box;
    flex-grow: 0.5;
    min-width: 0;
    height: 50px;
    padding: 1em;
    font: inherit;
    border-radius: 0, 10px, 10px, 0;
    border: none;
    background-color: var(--input-color);
    transition: 300ms ease;
}

form input:hover {
    border: 2px solid var(--accent-color);
}

form input:focus {
    outline: none;
}

form button {
    margin-top: 10px;
    border: none;
    border-radius: 1000px;
    padding: 0.85em 4em;
    background-color: var(--accent-color);
    color: var(--text-color);
    font: inherit;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: 300ms ease;
}

form button:hover {
    background-color: var(--button-color);
}

a {
    text-decoration: none;
    color: var(--accent-color);
}

a:hover {
    text-decoration: underline;
}

form div.incorrect label {
    background-color: red;
}

form div.incorrect input {
    border: 2px solid red;
}

#error-message {
    color: red;
    font-size: smaller;
}

@media (max-width: 400px) {
    body {
        background: black;
    }
}
