@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --primary-color: rgba(75, 105, 130, 0.703);
    --main-background-color: #141414;
}

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: black;
    color: #999;
}

ul {
    list-style: none;
}

h1, h2, h3, h4 {
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

p {
    margin: 0.5rem 0;
}

.showcase {
    width: 100%;
    height: 93vh;
    position: relative;
    background: url('../img/main_background.png') center;
}

.showcase::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: inset 120px 100px 200px var(--main-background-color), inset -120px -100px 200px var(--main-background-color);
}

.showcase-top {
    position: relative;
    z-index: 2;
    height: 90px;
}

.showcase-top h1 {
    position: absolute;
    z-index: 2;
    top: 16%;
    left: 5rem;
}

.showcase-top img {
    z-index: 2;
    width: 50px;
    position: absolute;
    top: 10%;
    left: 1rem;
}

.showcase-top a {
    position: absolute;
    top: 30%;
    right: 0;
    transform: translate(-50%, -20%);
}

.showcase-content {
    position: relative;
    z-index: 2;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 9rem;
}

.showcase-content h1 {
    font-size: 3rem;
    width: 80%;
    text-transform: uppercase;
}

.showcase-bottom-text {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    text-align: center;
    color: grey;
    z-index: 2;
    font-size: 1.1rem;
}

/* Tabs */
.tabs {
    background-color: var(--main-background-color);
    padding-top: 1rem;
    border-bottom: 3px solid #3d3d3d;
}

.tabs .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.tab-item img {
    width: 80px;
    height: 80px;
}

.tabs p {
    font-size: 1.2rem;
    padding-top: 0.5rem;
}

.tabs .container > div {
    padding: 1.5rem 0;
}

.tabs .container > div:hover {
    color: white;
    cursor: pointer;
}

.tab-border {
    border-bottom: var(--primary-color) 4px solid;
}

/* Tab Content */
.tab-content {
    padding: 3rem 0;
    background-color: black;
}

/* Hide Content Initially */
#tab-1-content,
#tab-2-content,
#tab-3-content {
    display: none;
}

.show {
    display: block !important;
}

.tab-content img {
    width: 50%;
    border-radius: 20px;
    margin: auto;
}

#tab-1-content .tab-1-content-inner,
#tab-2-content .tab-2-content-inner,
#tab-3-content .tab-3-content-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    align-items: center;
    justify-content: center;
}

/* Container */
.container {
    max-width: 70%;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}

/* Text Styles */
.text-lg {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.text-center {
    text-align: center;
}

.text-dark {
    color: #999;
}

/* Footer */
.footer {
    background-color: var(--main-background-color);
    color: #999;
    text-align: center;
    padding: 2rem 0;
    margin-top: 2rem;
}

/* Buttons */
.btn {
    display: inline-block;
    background: var(--primary-color);
    color: white;
    padding: 0.6rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    outline: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
    border-radius: 5px;
}

.btn:hover {
    opacity: 0.9;
}

.btn-rounded {
    border-radius: 7px;
}

.btn-sign-up {
    margin-right: 5.5rem;
}

.btn-try-using {
    font-size: 1.5rem;
    padding: 0.9rem;
    margin-top: 5%;
}

.btn-lg {
    font-size: 1rem;
    padding: 1.5rem;
    text-transform: uppercase;
}

@media(max-width: 960px) {
    .showcase {
        height: 70vh;
    }

    .hide-sm {
        display: none;
    }

    .showcase-content h1 {
        font-size: 2.5rem;
    }

    .btn-try-using {
        font-size: 1.2rem;
        margin-right: 0.5rem;
    }

    .showcase-bottom-text {
        font-size: 0.8rem;
    }

    #tab-1-content .tab-1-content-inner,
    #tab-2-content .tab-2-content-inner,
    #tab-3-content .tab-3-content-inner {
        grid-template-columns: 1fr;
        text-align: center;
    }
}
